Repository p3ol/renovate-presets: changes, and which lefthook commands are due for each by the changed paths.
All: test, install

lefthook.yml:

pre-commit:
  commands:
    test:
      run: yarn test
      glob:
        - "presets/*.json"
        - "renovate.json"
    install:
      glob:
        - "package.json"
        - "yarn.lock"
      run: yarn install --immutable

fix(deps): bump renovate to 42.0.0
  package.json
  yarn.lock
Due: install

refactor!: split presets to npm and ci cd deps
  package.json
  presets/all-deps/base.json
  presets/all-deps/main-develop.json
  presets/all-deps/master-develop.json
  presets/ci-cd-only/base.json
  presets/ci-cd-only/main-develop.json
  presets/ci-cd-only/master-develop.json
  presets/common.json
  presets/main-develop.json
  presets/master-develop.json
Due: test, install

chore: extend new renovate preset
  renovate.json
Due: test

chore: run install prior to test in lefthook
  lefthook.yml
Due: none

fix(deps): bump all deps to latest versions
  .github/workflows/ci.yml
  package.json
Due: install

chore(release): 2.0.0
  CHANGELOG.md
  package.json
Due: install

fix: add commit type for ci cd deps
  presets/common.json
Due: test

chore(release): 2.0.1
  CHANGELOG.md
  package.json
Due: install

fix: specify npm manager for dev deps automerge
  presets/all-deps/base.json
Due: test

chore(release): 2.0.2
  CHANGELOG.md
  package.json
Due: install

fix(ci-cd-only): force node-related updates on develop
  presets/ci-cd-only/main-develop.json
  presets/ci-cd-only/master-develop.json
Due: test

chore(release): 2.0.3
  CHANGELOG.md
  package.json
Due: install

fix(common): group ci and ci deps together
  presets/common.json
Due: test

chore(release): 2.0.4
  CHANGELOG.md
  package.json
Due: install

chore: update renovate npm dep only on monday
  renovate.json
Due: test

fix: move ci-cd-only common rules in common folder
  presets/ci-cd-only/base.json
  presets/ci-cd-only/main-develop.json
  presets/ci-cd-only/master-develop.json
  presets/common/base.json
  presets/common/main-develop.json
  presets/common/master-develop.json
Due: test

chore(ci): add release please for release prs
  .github/release-please.config.json
  .github/release-please.manifest.json
  .github/workflows/release-pr.yml
Due: none

fix(all-deps): fix extend error on common preset
  presets/all-deps/base.json
Due: test

fix(common): increase default schedule window
  presets/common/base.json
Due: test

fix(common): remove default schedule
  presets/common/base.json
Due: test

fix(common): fix node deps group issue
  presets/common/main-develop.json
  presets/common/master-develop.json
Due: test

fix(common): regroup node related deps in base preset
  presets/common/base.json
Due: test

fix(common): make node group work
  presets/common/base.json
  presets/common/main-develop.json
Due: test

fix(common): move node group first
  presets/common/base.json
  presets/common/main-develop.json
  presets/common/master-develop.json
Due: test

fix(common): exclude node updates from ci-cd groups
  presets/common/base.json
  presets/common/main-develop.json
  presets/common/master-develop.json
Due: test

fix(common): reorder node and ci-cd groups
  presets/common/base.json
Due: test

fix(common): fix node deps regroup issues
  presets/common/base.json
  presets/common/main-develop.json
  presets/common/master-develop.json
Due: test

fix(common): assign fix commit type to node deps
  presets/common/base.json
Due: test

fix(ci-cd-only): move enabledmanagers to packagerules
  presets/ci-cd-only/base.json
Due: test

fix(ci-cd-only): allow node updates in cd ci only preset
  presets/ci-cd-only/base.json
Due: test

chore: call release please action since p3ol custom action
  .github/workflows/release-pr.yml
Due: none

chore: use emoji instead of placeholder text
  .github/release-please.config.json
Due: none

chore: revert to standalone release please action
  .github/workflows/release-pr.yml
Due: none

feat(cert-manager): add new preset for cert manager versions
  presets/cert-manager.json
Due: test

✨ release: v2.1.0
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

fix(cert-manager): make s optional for custom managers
  presets/cert-manager.json
Due: test

✨ release: v2.1.1
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

fix(cert-manager): enable and regroup related deps
  presets/cert-manager.json
Due: test

✨ release: v2.1.2
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

feat(cert-manager): split preset depending on base branch
  presets/cert-manager/base.json
  presets/cert-manager/main-develop.json
  presets/cert-manager/master-develop.json
Due: test
