Repository p3ol/renovate-presets: changes, and which lefthook commands are due for each by the changed paths.
All: install, test

lefthook.yml:

pre-commit:
  commands:
    install:
      glob:
        - "package.json"
        - "yarn.lock"
      run: yarn install --immutable
    test:
      run: yarn test
      glob:
        - "presets/*.json"
        - "renovate.json"

✨ release: v2.2.0
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

chore(ci-cd-only): enable custom managers
  presets/ci-cd-only/base.json
Due: test

fix(ci-cd-only): fix missing conditional not for managers
  presets/ci-cd-only/base.json
Due: test

✨ release: v2.2.1
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

fix(cert-manager): fix registryurl and depname issue
  presets/cert-manager/base.json
Due: test

✨ release: v2.2.2
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

fix(cert-manager): fix registryUrl errors
  presets/cert-manager/base.json
Due: test

fix(cert-manager): use docker datasource for cert manager
  presets/cert-manager/base.json
Due: test

fix(cert-manager): use docker datasource for cf origin ca issuer
  presets/cert-manager/base.json
Due: test

fix(cert-manager): remove oci prefix for registry urls
  presets/cert-manager/base.json
Due: test

fix(cert-manager): try to find the right syntax
  presets/cert-manager/base.json
Due: test

fix(cert-manager): find the good syntax for both managers
  presets/cert-manager/base.json
Due: test

✨ release: v2.2.3
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

fix: update node docker image debian major
  presets/common/base.json
Due: test

✨ release: v2.2.4
  .github/release-please.manifest.json
  CHANGELOG.md
  package.json
Due: install

chore: replace release-please by release manager
  .github/release-config.yml
  .github/release-please.config.json
  .github/release-please.manifest.json
  .github/workflows/release-pr.yml
Due: none
